{% extends 'base.html' %}
{% load static %}
{% block title %}
KCET Cutoff Rank Analyser
{% endblock title %}
{% block content %}
<div class="container">
    <h1>KCET Cutoff Rank Analyser</h1>
    <p>Find out in which and all colleges you can get admission for your preferred course based on the CET Rank you
        obtained.</p>
    <div class="row my-3">
        <div class="col-md-6">
            <div class="card p-3 shadow mb-3">
                <div class="mb-3">
                    <label for="id_course_category" class="form-label">Select Your Course Category Under CET:</label>
                    <select class="form-control" id="id_course_category" onchange="get_courses(this.value);">
                        <option value="">--select--</option>
                        {% for category in course_categorys %}
                        <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="id_course" class="form-label">Select your preferred course:</label>
                    <select class="form-control" id="id_course" onchange="get_cutoff_table()">
                    </select>
                </div>

                <div class="mb-3">
                    <label for="id_kcet_rank" class="form-label">Enter your KCET rank</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="id_kcet_rank" aria-describedby="basic-addon2">
                        <span role="button" class="input-group-text" id="basic-addon2"
                            onclick="get_cutoff_table()"><i class="bi bi-search"></i></span>
                    </div>
                </div>


                <div class="mb-3">
                    <label for="id_category" class="form-label">Choose your reservation Category</label>
                    <select class="form-control" id="id_category" onchange="get_cutoff_table()">
                        <option>--select--</option>
                        <option value='_1G'>1G - 1 General</option>
                        <option value='_1K'>1K - 1 Kannada</option>
                        <option value='_1R'>1R - 1 Rural</option>
                        <option value='_2AG'>2AG - 2A General</option>
                        <option value='_2AK'>2AK - 2A Kannada</option>
                        <option value='_2AR'>2AR - 2A Rural</option>
                        <option value='_2BG'>2BG - 2B General</option>
                        <option value='_2BK'>2BK - 2B Kannada</option>
                        <option value='_2BR'>2BR - 2B Rural</option>
                        <option value='_3AG'>3AG - 3A General</option>
                        <option value='_3AK'>3AK - 3A Kannada</option>
                        <option value='_3AR'>3AR - 3A Rural</option>
                        <option value='_3BG'>3BG - 3B General </option>
                        <option value='_3BK'>3BK - 3B Kannada</option>
                        <option value='_3BR'>3BR - 3B Rural</option>
                        <option value='_GM'>GM - General Merit</option>
                        <option value='_GMK'>GMK - General Merit Kannada</option>
                        <option value='_GMP'>GMP - General Merit Private</option>
                        <option value='_GMR'>GMR - General Merit Rural</option>
                        <option value='_SCG'>SCG - Schedule Caste General</option>
                        <option value='_SCK'>SCK - Schedule Caste Kannada</option>
                        <option value='_SCR'>SCR - Schedule Caste Rural</option>
                        <option value='_STG'>STG - Schedule Tribe General</option>
                        <option value='_STK'>STK - Schedule Tribe Kannada</option>
                        <option value='_STR'>STR - Schedule Tribe Rural</option>
                    </select>

                </div>
                <div class="mb-3">
                    <label for="id_round" class="form-label">Select KCET Round:</label>
                    <select class="form-control" id="id_round" onchange="get_cutoff_table()">
                        <option value="Round 1">1st Round</option>
                        <option value="Round 2">2nd Round</option>
                        <option value="Round 2 Extended">2nd extended Round</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="scroll_focus" class="col-md-6">
            <h3 class="shadow card p-3">Here are your results:</h3>
            <div id="id_data">
            </div>
        </div>
    </div>
    <div class="card shadow border">
        <div class="card-body">
            <h3>Everything you should know about CutOff Rank:</h3>
            <p>
                The CutOff rank represents the merit ranks obtained by candidates in the result of competitive exam
                in order to get admission. CutOff rank is the rank at which the last Candidates who got a seat in
                that particular course & category in a particular college. So, the candidates who score at or above
                that cut-off have a better chance of being assigned to the same seat this year under same category
                in that same college for the same course.
            </p>
            <p>
                Since the ranks are allotted based on the number of marks obtained in entrance exams, we can term
                the CutOff rank as the minimum marks required by candidates to be eligible for admission into the
                particular course in participating institutes.
            </p>
            <p>
                During counselling process, in option entry, when candidates enter the particular courses and
                colleges they want, the super computer later on allots them the specific course and college from
                that list depending on the number of seats available for the particular course in a particular
                college as per the seat matrix.
            </p>
            <p>
                For Example, there are only 5 seats available in a course at a particular college and 10 candidates
                have applied for it via option entry. So, only 5 candidates based on the best ranks get the seat by
                merit and the rank of the candidate who got the last seat will be termed as the CutOff rank.
            </p>
            <h4>Illustration:</h4>
            <p>
                College XYZ has 5 seats available for ABC course under General Merit Category. Total 10 Candidatess
                have applied for it via option entry with the ranks of 563, 685, 791, 846, 882, 907, 918, 986, 1098
                & 1973 respectively.
            </p>
            <p>
                So, the super computer will allot available 5 seats for best 5 ranks out of 10 applications i.e.,
                563, 685, 791, 846, 882.
            </p>
            <p>
                The last rank for which last available seat is allotted i.e., 882 is termed as CutOff rank for
                General Merit in XYZ college for ABC course.
            </p>
            <p>
                Please note that every year CutOff rank changes based on various important factors such as the total
                number of candidates appearing in competitive entrance exam, the total number of seats available in
                the colleges for each course, etc…
            </p>
            <p>CutOff is going to vary</p>
            <ul>
                <li>for different courses</li>
                <li>for different colleges</li>
                           <li>for different categories of candidates</li>
                <li>for every round of counselling</li>
            </ul>
            <p>
                Previous year CutOff ranks are there to get a fair idea on which college you can get seat this year
                and Candidates should use this information for reference purpose only. It all depends on the demand
                of the course in that college and the number of seats reserved for that course this year. CutOff
                rank may increase this year if there are a greater number of seats available or vice versa.
            </p>

            <p>
                Kindly use this platform to make sound decision on your future and share with others.
                We tried our best to give you an accurate information in every possible way. We regret if there are any
                mistakes or a discrepancy in in the information provided. If you find any please report us
                immediately at +919137386752.
            </p>
            <p><i>Source of information : KEA – Karnataka Examination Authority.</i></p>


        </div>
    </div>


</div>

<div class="loader"></div>
<i id="id_scroll_up"></i>
<script src="{% static 'js/cutoff.js' %}"></script>
<script src="{% static 'js/scrollup.js' %}"></script>

{% endblock content %}