{% extends 'base.html' %}

{% load static %}
{% block title %}
College Seat Analyser
{% endblock title %}
{% block content %}
<div class="container">
    <h1>Find out seat availability in Colleges</h1>
    <p>Find out availibility of seats in your preferred college by course, district and  based on your Reservation Category</p>

    <div class="row">
        <div class="col-md-6">
            <div class="card p-3 shadow mb-3">
                <div class="mb-3">
                    <label for="id_category" class="form-label">Select a Course Category:</label>
                    <select class="form-control" id="id_category">
                        <option>--select--</option>
                        {% for cat in category %}
                        <option value="{{cat.course_type}}">{{cat.course_type}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="id_course" class="form-label">Select a Course:</label>
                    <select class="form-control" id="id_course">
                    </select>
                </div>
                <div class="mb-3">
                    <label for="id_district" class="form-label">Select a Region / City / District:</label>
                    <select class="form-control" id="id_district">
                    </select>
                </div>
                <div class="mb-3">
                    <label for="id_college" class="form-label">Select a College:</label>
                    <select class="form-control" id="id_college">
                    </select>
                </div>
                <div class="mb-3">
                    <label for="id_reservation" class="form-label">Select Reservation Category:</label>
                    <select class="form-control" id="id_reservation">
                        <option value="--select--">--select--</option>
                        <option value='_1g'>1G</option>
                        <option value='_1k'>1K</option>
                        <option value='_1r'>1R</option>
                        <option value='_2ag'>2AG</option>
                        <option value='_2ak'>2AK</option>
                        <option value='_2ar'>2AR</option>
                        <option value='_2bg'>2BG</option>
                        <option value='_2bk'>2BK</option>
                        <option value='_2br'>2BR</option>
                        <option value='_3ag'>3AG</option>
                        <option value='_3ak'>3AK</option>
                        <option value='_3ar'>3AR</option>
                        <option value='_3bg'>3BG</option>
                        <option value='_3bk'>3BK</option>
                        <option value='_3br'>3BR</option>
                        <option value='gm'>GM</option>
                        <option value='gmk'>GMK</option>
                        <option value='gmp'>GMP</option>
                        <option value='gmr'>GMR</option>
                        <option value='scg'>SCG</option>
                        <option value='sck'>SCK</option>
                        <option value='scr'>SCR</option>
                        <option value='stg'>STG</option>
                        <option value='stk'>STK</option>
                        <option value='str'>STR</option>
                        <option value='snq'>SNQ</option>
                        <option value='_1h'>1H</option>
                        <option value='_1kh'>1KH</option>
                        <option value='_1rh'>1RH</option>
                        <option value='_2ah'>2AH</option>
                        <option value='_2akh'>2AKH</option>
                        <option value='_2arh'>2ARH</option>
                        <option value='_2bh'>2BH</option>
                        <option value='_2bkh'>2BKH</option>
                        <option value='_2brh'>2BRH</option>
                        <option value='_3ah'>3AH</option>
                        <option value='_3akh'>3AKH</option>
                        <option value='_3arh'>3ARH</option>
                        <option value='_3bh'>3BH</option>
                        <option value='_3bkh'>3BKH</option>
                        <option value='_3brh'>3BRH</option>
                        <option value='gmh'>GMH</option>
                        <option value='gmkh'>GMKH</option>
                        <option value='gmrh'>GMRH</option>
                        <option value='sch'>SCH</option>
                        <option value='sckh'>SCKH</option>
                        <option value='scrh'>SCRH</option>
                        <option value='sth'>STH</option>
                        <option value='stkh'>STKH</option>
                        <option value='strh'>STRH</option>
                        <option value="agl">AGL</option>
                        <option value="cap">CAP</option>
                        <option value="d">D</option>
                        <option value="dk">DK</option>
                        <option value="jk">JK</option>
                        <option value="ncc">NCC</option>
                        <option value="ph">PH</option>
                        <option value="pv">PV</option>
                        <option value="sg">SG</option>
                        <option value="xd">XD</option>
                        <option value="xcp">XCP</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6 pb-3" id="scroll_to_me">
            <div id="id_seat_matrix_table"></div>

        </div>
    </div>
    <div class="card my-3 shadow">
        <div class="card-body">
            <h3>College Seat Finder:</h3>
            <p>
                Getting admission into a college after 12th is not as simple as it looks. In Every college there are
                different variety of seats based on different reservation category with different fees structure and all
                for
                the same course. To make it more complex you can write many entrance exams to get admission into same
                college for same course.
            </p>
            <p>
                Under every entrance exam there are tens of reservation categories. Further, these reservation
                categories
                are very complex in nature as they are based on religion, caste, language, region, parent’s profession
                etc…
                Under the regulations by the Government each college should reserve certain percentage of seats for
                different categories.
            </p>
            <p>
                First of all, finding which reservation category you belong to is a great challenge faced by students,
                above
                that student are left with the further challenge that in which college they have reserved seats for
                their
                preferred course and how many number of reserved seats.

            </p>
            <p>So, we bring you this technology where you can find out college wise and course wise seat allocation:</p>
            <ul>
                <li>Total number of reserved seats available for selected course in a college.</li>
                <li>Category wise number of reserved seats for a selected course in each college.</li>
                <li>Total number of seats available in particular college for particular course (approved intake).</li>
                <li>Number of seats available for direct admission under management quota in a college.</li>
            </ul>
            <p>
                Kindly use this platform to make sound decision on your future and share with others.
                We tried our best to give you an accurate information in every possible. We regret if there are any mistakes
                or a discrepancy in in the information provided. If you find any please report us immediately at
                +919137386752.
            </p>
            <i>Source of information : KEA – Karnataka Examination Authority.</i>
          </div>
    </div>
</div>

<div class="loader"></div>
<div id="id_scroll_up"></div>
<script src="{% static 'js/seatfinder.js' %}"></script>
<script src="{% static 'js/scrollup.js' %}"></script>
{% endblock content %}